<article class="collection-item">

  {% if collection-list-item == 'linklist' %}
    {% assign link_handle = link.object.handle %}
    {% assign collection = collections[link_handle] %}
  {% endif %}

  <figure class="collection-inner">
    <a href="{{ collection.url }}">
      <div  class="collection-item-image">
        {% if collection.image %}
          <img alt="{{ collection.image.alt | escape }}" src="{{ collection | img_url: 'grande' }}">
        {% else %}
          <img alt="{{ collection.title | escape }}" src="{{ collection.products.first | img_url: 'grande' }}">
        {% endif %}
      </div>

      <div class="collection-item-details {{settings.collections-text-style}}-style">
        <h3>
          {% comment %} <a href="{{ collection.url }}">{{ collection.title }}</a> {% endcomment %}
          {{ collection.title }}
        </h3>

        {% if collection.description != blank and settings.collections-show-descriptions %}
          <p>
            {{ collection.description | strip_html | truncatewords: 20 }}
          </p>
        {% endif %}
      </div>

    </a>
  </figure>
  

</article>
