{% if collections[settings.home-featured-products3].products.size > 0 %}
  <div class="home-module home-featured-products rows-of-{{ settings.home-featured-products-per-row2 }}">
    <div class="home-module-content">

      {% if settings.home-featured-products-title3 != blank %}
        <h4 class="section-title">{{ settings.home-featured-products-title3 }}</h4>
      {% endif %}

      <div class="home-featured-products-list collection-products uniform-layout {{settings.collection-product-text-style2}}-style">
        {% for product in collections[settings.home-featured-products3].products limit: settings.home-featured-products-max3 %}
        {% include 'bold-product' with product, hide_action: 'skip' %}
          {% include 'product-list-item' %}
        {% endfor %}
      </div>
    </div>
  </div>
{% else %}
  <div class="home-module home-featured-products rows-of-3">
    <div class="home-module-content">

      <h4 class="section-title">{{ 'onboarding.featured_products.title' | t }}</h4>

      <div class="home-featured-products-list collection-products uniform-layout {{settings.collection-product-text-style2}}-style">

        {% for i in (1..3) %}
          <div class="product-list-item">
            <figure class="product-list-item-thumbnail">
              <a href="/admin/themes/{{ theme.id }}/settings">
                <img width="640"  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mPYvufQfwAHmAM12jbOLQAAAABJRU5ErkJggg==" alt="">
              </a>
            </figure>
            <div class="product-list-item-details">
              {% assign vendor_handle = item.vendor | handleize %}
              {% if collections[vendor_handle].products.size > 0 %}
                <p class="product-list-item-vendor vendor meta">{{ collections[vendor_handle].title | link_to: collections[vendor_handle].url }}</p>
              {% else %}
                <p class="product-list-item-vendor vendor meta">{{ 'onboarding.featured_products.product_vendor' | t }}</p>
              {% endif %}

              <h3 class="product-list-item-title"><a href="/admin/themes/{{ theme.id }}/settings">{{ 'onboarding.featured_products.product_title' | t }}</a></h3>
              <p class="product-list-item-price">{{ 'onboarding.featured_products.product_price' | t }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
