{% include 'bold-product' with product, hide_action: 'break' %}{% if bold_hidden_product %}{% break %}{%endif %}
<!-- bold css -->

<div class="product-form">

  <div class="product-form-inner">

    <a class="product-vendor vendor" href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a>

    <h1>{{product.title}}</h1>


    <meta itemprop="name" content="{{ product.title }}">
    <meta itemprop="brand" content="{{ product.vendor }}">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product | img_url: 'grande' }}">

    <form id="product-form" action="/cart/add" method="post" enctype="multipart/form-data" data-product-id="{{ product.id }}">

      <div class="product-options">
        <select name="id" id="product-variants">
          {% for variant in product.variants %}
          {% include 'bold-hidden-variants' with variant, bold_loop: 'loop' %}
            <option data-price="{{ variant.price | money_without_currency | remove: ',' }}" {% if variant == bold_selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money }}</option>
          {% endfor %}
        </select>

        {% comment %}
        <div class="input-wrapper">
          <label>Text Example</label>
          <input type="text" name="properties[Name]">
        </div>

        <div class="input-wrapper">
          <label>File Example</label>
          <input type="file" name="properties[File]">
        </div>
        {% endcomment %}
      </div>


      <input name="shopify_customer_id" type="hidden" value="{{ customer.id }}" >
      <input name="email" type="hidden" value="{{ customer.email }}" >
      <input name="address1" type="hidden" value="{{ customer.default_address.address1 }}" >
      <input name="address2" type="hidden" value="{{ customer.default_address.address2 }}" >
      <input name="city" type="hidden" value="{{ customer.default_address.city }}" >
      <input name="company" type="hidden" value="{{ customer.default_address.company }}" >
      <input name="country" type="hidden" value="{{ customer.default_address.country }}" >
      <input name="first_name" type="hidden" value="{{ customer.default_address.first_name }}" >
      <input name="last_name" type="hidden" value="{{ customer.default_address.last_name }}" >
      <input name="phone" type="hidden" value="{{ customer.default_address.phone }}" >
      <input name="province" type="hidden" value="{{ customer.default_address.province }}" >
      <input name="zip" type="hidden" value="{{ customer.default_address.zip }}" >

      <div class="product-submit" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

        <div class="product-pricecode">

          <div class="product-pricebox">
            <div class="product-price">
              <span class="product-price-minimum money" itemprop="price">
                {{ variant.price | money }}
              </span>
              <span class="product-price-compare money">
                {% if variant.compare_at_price_min > variant.price_min %}
                  {{ variant.compare_at_price_min | money }}
                {% endif %}
              </span>

              {% if product.tags contains 'with-weight' %}
              / {{variant.weight_in_unit}} {{variant.weight_unit}}
              {% endif %}
              {% if product.tags contains 'with-ea' %}
              / ea
              {% endif %}
            </div>
          </div>

          <div class="product-code">
            <p id="barcodefield"></p>
          </div>
        </div>
        <div>
          <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        </div>

        {% unless qb_loaded == 'true' %}
        <div id="shappify-qty-msg"></div>
        {% assign qb_loaded = 'true' %}
        {% endunless %}

        {% include 'bold-ro' with product %}

        <div class="product-order-submit">

            {% if settings.enable-product-quantity %}
                <div class="product-quantity">

                    <div class="input-wrapper">
                        <a href="#" class="stepper-control minus">
                            <i class="milkicon-minus"></i>
                        </a>
                            {% comment %} <label for="quantity">{{ 'general.general.quantity' | t }}</label> {% endcomment %}
                            <input type="text" name="quantity" id="quantity" value="1" />
                        <a href="#" class="stepper-control plus">
                            <i class="milkicon-plus"></i>
                        </a>
                    </div>
                </div>
            {% endif %}

            {% if variant.available %}

            <input class="button add-to-cart addtocart" type="submit" value="{{ 'products.product.add_to_cart' | t }}" />
            <link itemprop="availability" href="http://schema.org/InStock">
            {% else %}
            <input type="button" class="button add-to-cart disabled" disabled="disabled" value="{{ 'products.product.sold_out' | t }}" />
            <link itemprop="availability" href="http://schema.org/OutOfStock">
            {% endif %}

        </div>



        {% include 'iwish_v2' with 'iwishproduct' %}

        <!-- bold-ro-liquid --> <div class="bold_add_to_orders" style="display: inline-block;"> </div> <!-- bold-ro-liquid -->
        <div class="product-message"></div>

        {% if product.description != blank or product.tags.size > 0 %}
            <div class="product-description rte" itemprop="description">
                {% include 'product-tags' with 'product' %}
                {{ product.description }}
            </div>
        {% endif %}

        <ul class="list-unstyled list-usp list-usp--small">
          <li>
              <i class="milkicon-freedelivery"></i>
              <p>Free delivery in LA area</p>
          </li>
          <li>
              <i class="milkicon-guarantee"></i>
              <p>100% Satisfaction Guarantee</p>
          </li>
          <li>
              <i class="milkicon-save"></i>
              <p>Save up to 50% vs grocery store</p>
          </li>
        </ul>

      </div>

    </div>

  </form>
</div>
<!-- <script>
  $(window).load(function(){
  $('.recurring_div').trigger('click');
  });
</script> -->


 {% if bold_variants_size == 1  %}
<script>
$(window).load(function(){

 $('.selector-wrapper').hide();



});

</script>

 {% endif %}
