<!doctype html>
<!--[if IE 7]><html class="no-js ie7 lt-ie8 lt-ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 lt-ie9 lt-ie10" lang="en"> <![endif]-->
<!--[if IE 9]><html class="no-js ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
{% include 'limespot' %}

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


  {{ 'vendor.js' | asset_url | script_tag }}

  <title>
    {{ page_title }}

    {% if current_tags %}
      &ndash; {{ 'blogs.blog.seo_title' | t }} "{{ current_tags | join: ', ' }}"
    {% endif %}

    {% if current_page != 1 %}
      &ndash; {{ 'general.pagination.seo_title' | t }} {{ current_page }}
    {% endif %}

    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width" />

  <!-- start header content -->
  {{ content_for_header }}
  <!-- end header content-->

  {% include 'social-meta' %}

  <!-- Theme CSS -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Add media query support to IE8 -->
  <!--[if lt IE 9]>
  <script src="{{ 'respond.min.js' | asset_url }}"></script>
  <link href="{{ 'respond-proxy.html' | asset_url | split: '?' | first }}" id="respond-proxy" rel="respond-proxy" />
  {% assign respond_js_secret_key = shop.domain | md5 %}
  <link href="//{{ shop.domain }}/search?q={{ respond_js_secret_key }}" id="respond-redirect" rel="respond-redirect" />
  <script src="//{{ shop.domain }}/search?q={{ respond_js_secret_key }}" type="text/javascript"></script>
  <![endif]-->

  <!-- Theme object -->
  {% include 'theme-options' %}

  {% if settings.custom-css != blank %}
    <!-- Custom CSS -->
    <style>
      {{ settings.custom-css }}
    </style>
  {% endif %}

  {% include 'sca-quick-view-init' %}

  <!--  Pinterest Tag Base Code -->
  <script type="text/javascript">
    !function(e){if(!window.pintrk){window.pintrk=function(){window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var n=window.pintrk;n.queue=[],n.version="3.0";var t=document.createElement("script");t.async=!0,t.src=e;var r=document.getElementsByTagName("script")[0];r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");

    pintrk('load','2612708626767');
    pintrk('page', {
      page_name: '{{ page_title }}',
      page_category: '{{ collection.title }}'
    });
    pintrk('track', 'pagevisit');
    {% if template contains 'pages' %}
      pintrk('track', 'ViewCategory', {
        product_category: {{ page.title }}   
      });
      {% elsif template contains 'cart' %}
        pintrk('track', 'addtocart', {
          value: {{ cart.total_price | money_without_currency }},
          order_quantity: {{ cart.item_count }},
          currency: 'USD',
        line_items: [
        {% for item in cart.items %}
          {
             product_name: '{{ item.title }}',
             product_id: '{{ item.product.id }}',
             product_variant_id: '{{ item.id }}',
             product_price: {{ item.price | money_without_currency }},
             product_quantity: {{ item.quantity }},
             product_brand: '{{ item.vendor }}'
          },
        {% endfor %}]
      });
    {% endif %}
  </script>
  <!--SECUREDVISIT START -->
<script type="text/javascript"> window._svq = window._svq || [];
window._svq.push(['_setAccount', '2870_03965']); window._svq.push(['_trackPageView']);
(function (d, c) {
var sv = d.createElement(c); sv.type = 'text/javascript'; sv.src = '//track.securedvisit.com/js/sv.js';
var s = d.getElementsByTagName(c)[0]; s.parentNode.insertBefore(sv, s);
})(document, 'script');
</script>
<!-- SECUREDVISIT END -->


  <noscript>
    <img height="1" width="1" style="display:none;" alt=""
    src="https://ct.pinterest.com/v3/?tid=2612708626767&noscript=1" />
  </noscript>

<!-- Friendbuy -->
  <script>
          window['friendbuy'] = window['friendbuy'] || [];
          window['friendbuy'].push(['site', 'site-c57debb0-milkandeggs.com']);
          window['friendbuy'].push(['track', 'customer',
              {
                  id: '{{ customer.id }}',
                  email: '{{ customer.email }}',
                  first_name: '{{ customer.first_name }}',
                  last_name: '{{ customer.last_name }}'
              }
          ]);
          (function (f, r, n, d, b, y) {
              b = f.createElement(r), y = f.getElementsByTagName(r)[0];b.async = 1;b.src = n;y.parentNode.insertBefore(b, y);
          })(document, 'script', '//djnf6e5yyirys.cloudfront.net/js/friendbuy.min.js');
 </script>

  {% include 'bold-common' %}
{% include 'bold-ro-init' %}

</head>

{% assign sidebar = false %}
{% if settings.enable-sidebar == 'all' %}
  {% if template contains 'index' %}
    {% assign sidebar = true %}
  {% elsif template contains 'collection' %}
    {% assign sidebar = true %}
  {% endif %}
{% elsif settings.enable-sidebar == 'not-home' and template contains 'collection' %}
  {% assign sidebar = true %}
{% endif %}

<body class="{{ template | replace: '.', '-' }}{% if template contains 'page' %} page-{{ page.handle }}{% endif %} {% if customer %}customer-logged-in{% endif %} sidebar-{% if sidebar %}enabled{% else %}disabled{% endif %} template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
  {% include 'header' %}

  <div class="main-content-wrapper">
    <div id="cart-preview"></div>

    {% unless template contains 'index' %}
      <div class="page-header">
        {% include 'page-header' %}
      </div>
    {% endunless %}

    <div class="main-content">
      {{ content_for_layout }}
      <limespot></limespot>
    </div>

    {% if sidebar %}
      {% include 'sidebar' %}
    {% endif %}
  </div>

  {% include 'footer' %}

  {% if template contains 'cart' %}
    {% if settings.cart-shipping-calculator %}
      {{ "https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" | script_tag }}
      {{ "/services/javascripts/countries.js" | script_tag }}
      {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {% endif %}

    {{ 'jquery.cart.min.js' | asset_url | script_tag }}
  {% endif %}

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {% include 'iwish_v2' with 'iwishfooter' %}

  <script src="{{ 'plugins.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
  {% include 'sca-quick-view-template' %}

  {% comment %}{% include 'search-autocomplete' %}{% endcomment %}
  {% include 'ajaxify-cart' %}



  {% include 'modify_lightbox_snippet' %}



   <!-- begin conversion tracking code -->

  <!-- pinterest -->
  <meta name="p:domain_verify" content="4f6404c661e8543a09ce2cdec02a3dec"/>

<noscript>
<div style="display:inline;">
<img height="1" width="1" style="display:none;border-style:none;" alt="" src="//clk.anticlickfraudsystem.com/Click?customer_id=ODouLjo0NDI1Pw==" />
</div>
</noscript>

  <!-- FB Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '254959838174461');
    fbq('track', "PageView");
    {% if template contains 'product' %}
      fbq("track", "ViewContent", {
        content_type: 'product',
        content_ids: ['shopify_{{ product.id }}_{{ product.variants.first.id }}']
      });
      {% elsif template contains 'cart' %}
      fbq('track', 'AddToCart', {
        content_type: 'product',
        content_ids: [{% for item in cart.items %}'shopify_{{ item.product.id }}_{{ item.id }}',{% endfor %}]
       });
    {% endif %}
  </script>
  <noscript>
    <img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=254959838174461&ev=PageView&noscript=1"/>
  </noscript>
  <!-- End FB Pixel Code -->

  <!--<img src="https://traffic.outbrain.com/network/trackpxl?advid=">-->
<noscript>
<iframe src="//s.thebrighttag.com/iframe?c=1PR3l09" width="1" height="1" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</noscript>
    <!-- End taxi tag code -->

      <!-- Linked tag code -->
<noscript>
<img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=161817&fmt=gif" />
</noscript>
    <!-- End linked tag code -->


  <!-- End conversion tracking code -->

<!--BeginCFFPersistentCartCart-->
{% if customer %}
<script>

    window.cffCustomer = {
        name: '{{customer.name}}',
        email: '{{customer.email}}',
        hasAccount: '{{customer.has_account}}',
        id: '{{customer.id}}'
    };


</script>

{% endif %}

<script>
    window.cffPCLiquidPlaced = true
</script>

<!--EndCFFPersistentCartCart-->








{% include 'ultimatereorder-discounts' %}




  <script>
    BOLD.common.eventEmitter.on("BOLD_RECURRING_ORDERS_widget_loaded",function(e){
      $("[class*='bold-ro__add-to-order']").insertAfter(".iwishAddWrap");
      $(document).click(function(){

        setTimeout(function(){
          if($(".bold-ro__recurring-div").hasClass("bold-ro__bold-active")){
        $(".addtocart").val("Add subscription to cart");
      }
      else{
         $(".addtocart").val("Add to cart");
      }
        }, 50)

      })

    });
  </script>

  <style>
    .addtocart{

      margin-left: 55px;

    }
  </style>





















 {% include 'sweettooth-initializer' %}

 {% include 'sweettooth-tab-widget' %}

</body>
</html>
