{% paginate collection.products by 48 %}

  {% assign platforms = 0 %}
  {% if settings.share-widget-facebook %}{% assign platforms = platforms | plus: 1 %}{% endif %}
  {% if settings.share-widget-twitter %}{% assign platforms = platforms | plus: 1 %}{% endif %}
  {% if settings.share-widget-pinterest %}{% assign platforms = platforms | plus: 1 %}{% endif %}
  {% if settings.share-widget-fancy %}{% assign platforms = platforms | plus: 1 %}{% endif %}
  {% if settings.share-widget-google-plus %}{% assign platforms = platforms | plus: 1 %}{% endif %}
  {% if settings.share-widget-email %}{% assign platforms = platforms | plus: 1 %}{% endif %}

  {% if platforms > 0 %}
    <div class="collection-sharing meta">
      <span class="collection-sharing-toggle">{{ 'general.share_buttons.share' | t }}</span>

      {% include 'share-buttons' %}
    </div>
  {% endif %}

  {% if settings.collection-sorting or settings.collection-filtering %}

    <!-- Mobile side filters -->
    <form class="side-filter">
      <div class="side-filter-head">
        <h2>Filter products</h2>
        <a href="#" class="btn-closefilters">
          <i class="milkicon-x"></i>
        </a>
        <a href="#" class="btn-clearfilters">
          Clear
        </a>
      </div>
      <div class="side-filter-body">
        <h5>Sort products by:</h5>

        <ul class="list-radios">
          <li>
            <div class="check"></div>
            Featured
          </li>
          <li>
            <div class="check"></div>
            $ Low to high
          </li>
          <li>
            <div class="check"></div>
            $ High to low
          </li>
          <li>
            <div class="check"></div>
            A-Z
          </li>
          <li>
            <div class="check"></div>
            Z-A
          </li>
          <li>
            <div class="check"></div>
            Best selling
          </li>
        </ul>

        <h5>Filter by feature</h5>

        <ul class="list-checks">
          <li>
            <div class="check"></div>
            Organic
          </li>
          <li>
            <div class="check"></div>
            Kosher
          </li>
          <li class="checked">
            <div class="check"></div>
            Imported
          </li>
          <li>
            <div class="check"></div>
            Seasonal
          </li>
          <li>
            <div class="check"></div>
            Non-GMO
          </li>
          <li>
            <div class="check"></div>
            Hormone Free
          </li>
          <li>
            <div class="check"></div>
            Antibiotic Free
          </li>
          <li>
            <div class="check"></div>
            Gluten Free
          </li>
        </ul>


        <h5>Filter by price</h5>

        <ul class="list-radios">
          <li class="checked">
            <div class="check"></div>
            $0 - $10
          </li>
          <li>
            <div class="check"></div>
            $10 - $20
          </li>
          <li>
            <div class="check"></div>
            $20 - $30
          </li>
          <li>
            <div class="check"></div>
            $30 - $50
          </li>
          <li>
            <div class="check"></div>
            > $50
          </li>
        </ul>

      </div>
      <div class="side-filter-foot">
        <input class="button filter-products" type="submit" value="Apply filters">
      </div>
    </form>


    <div class="collection-viewing-parameters">
      {% if settings.collection-sorting %}
        <div class="collection-sorting {% if collection.current_vendor %}vendor-collection{% endif %}">
          <div class="select-wrapper">

            {% assign sortHandles = "manual|price-ascending|price-descending|title-ascending|title-descending|created-ascending|created-descending|best-selling" | split: "|" %}
            {% capture sortTitles %}{{ 'collections.collection_sorting.manual' | t }}|{{ 'collections.collection_sorting.price-ascending' | t }}|{{ 'collections.collection_sorting.price-descending' | t }}|{{ 'collections.collection_sorting.title-ascending' | t }}|{{ 'collections.collection_sorting.title-descending' | t }}|{{ 'collections.collection_sorting.created-ascending' | t }}|{{ 'collections.collection_sorting.created-descending' | t }}|{{ 'collections.collection_sorting.best-selling' | t }}{% endcapture %}
            {% assign sortTitles = sortTitles | split: "|" %}

            {% for handle in sortHandles %}
              {% if collection.sort_by == blank and collection.default_sort_by == handle %}
                {% assign currentTitle = sortTitles[forloop.index0] %}
              {% elsif collection.sort_by == handle %}
                {% assign currentTitle = sortTitles[forloop.index0] %}
              {% endif %}
            {% endfor %}

            <label class="selected-text">{{ 'collections.collection_sorting.title' | t }} <strong>{{ currentTitle }}</strong></label>
            <select>
              {% for handle in sortHandles %}
                {% if collection.sort_by == blank and collection.default_sort_by == handle %}
                  <option value="{{handle}}" selected="selected">{{ sortTitles[forloop.index0] }}</option>
                {% elsif collection.sort_by == handle %}
                  <option value="{{handle}}" selected="selected">{{ sortTitles[forloop.index0] }}</option>
                {% else %}
                  <option value="{{handle}}">{{ sortTitles[forloop.index0] }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      {% endif %}

      {% if collection.handle != blank and settings.collection-filtering %}

        <div class="collection-filtering" data-fallback-url="/collections/{{collection.handle}}">

          {% assign tagLinkLists = "collection-filter-link-list-1|collection-filter-link-list-2|collection-filter-link-list-3" | split: "|" %}
          {% assign availableLinks = false %}

          {% for list in tagLinkLists %}

            {% assign name = settings[list] %}

            {% if linklists[name].links.size > 0 %}

              {% assign availableLinks = true %}

              <div class="collection-filter">
                <div class="select-wrapper">
                  <label class="selected-text">{{ linklists[name].title }}: <strong>{{ 'collections.collection.any_tag' | t }}</strong></label>
                  <select>
                    <option value="any">{{ 'collections.collection.any_tag' | t }}</option>
                    {% for link in linklists[name].links %}
                      {% assign tagHandle = link.title | handleize %}
                      {% if collection.all_tags contains link.title %}
                        {% if current_tags contains tagHandle %}
                          <option value="{{ tagHandle }}" selected>{{ link.title }}</option>
                        {% else %}
                          <option value="{{ tagHandle }}">{{ link.title }}</option>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
            {% endif %}
          {% endfor %}

          {% if availableLinks == false and collection.all_tags.size > 0 %}
            {% comment %}
              There were no links found in any of the link lists
            {% endcomment %}

            <div class="collection-filter">
              <div class="select-wrapper">
                <label class="selected-text">{{ 'collections.collection.tags_label' | t }}: <strong>{{ 'collections.collection.any_tag' | t }}</strong></label>
                <select>
                  <option value="any">{{ 'collections.collection.any_tag' | t }}</option>
                  {% for tag in collection.all_tags %}
                    {% assign tag_handle = tag | handleize %}
                    {% unless tag contains 'with-' or settings.product-tag-exclusion contains tag_handle %}
                      {% if current_tags contains tag %}
                        <option value="{{ tag_handle }}" selected>{{ tag | capitalize }}</option>
                      {% else %}
                        <option value="{{ tag_handle }}">{{ tag | capitalize }}</option>
                      {% endif %}
                    {% endunless %}
                  {% endfor %}
                </select>
              </div>
            </div>
          {% endif %}

        </div>

        {% if current_tags.size > 0 %}
          <span class="meta collection-remove-filter">{{ 'collections.collection.reset_tags' | t }}</span>
        {% endif %}
      {% endif %}

    </div>
  {% endif %}

  <div class="collection-products {{settings.collection-layout-style}}-layout {{settings.collection-product-text-style}}-style rows-of-{{settings.collection-products-per-row}} mobile-rows-of-{{settings.collection-products-per-row-mobile}} {% if collection.products.size == 0 %}collection-empty{% endif %}">
    {% for product in collection.products %}
    {% include 'bold-product' with product, hide_action: 'skip' %}
      {% include 'product-list-item' %}
    {% else %}
      <p class="empty">{{ 'collections.collection.empty' | t }} {% if current_tags.size > 0 %}{{ 'collections.collection.empty_tag_filter' | t }}{% endif %}</p>
    {% endfor %}
  </div>

  {% include 'pagination' %}

{% endpaginate %}

